<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

</head>
<body>
    <form action="/afterlogin" method="post"id="form_signin">
        <fieldset style="display: inline-block;">
            <legend>회원 가입</legend>
            ID: <input type ="text" name="id" placeholder="아이디"><br>
            PW : <input type="password" name="pw" placeholder="비밀번호"><br>
           
           
            <div class="register-btn">
                <button type="submit" onclick="login()" >로그인</button>
                

            </div>

            
        </fieldset>
   
        
	</form>
    
    <form action="/signin" method="get">
        <button type="submit">회원가입</button>
    </form>


    
    <!-- <script>
        function login(){
            let form = document.getElementById("form_signin");
            axios({
                method:'post',
                url:'/login',
                data:{
                    id:form.id.value,
                    pw:form.pw.value
                }
            })
            .then((res)=>{
                console.log(res.data.length)
                console.log(res.data.name)
                if (res.data.length >0 ){
                    alert("로그인 환영 합니다.")  
                }
                else{
                    alert("로그인 정보가 일치하지않습니다.")
                }
                        

            })
        } -->

     
    </script>
</body>
</html>