<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            function signin(){
                var form=document.getElementById("form_info")
                axios({
                    method:"post",
                    url:"/result3",
                    data: {
                        id:form.id.value,
                        pw:form.pw.value,
                        name:form.name.value,
                        age:form.age.vlaue

                    },
                    headers:{
                        'content-Type': 'multipart/form-data'
                    } 
                }) 
                    .then((res)=>{
                        return res.data;})
                    .then((res2) => {    
                        
                        document.querySelector("#img").innerHtml("<img src" + res2.data.filename+ ">")
                    })
            }
        </script>
    </head>
    <body>
        <form  method="POST" enctype="multipart/form-data">
            <fieldset>
                <legend>
                    개인정보
                </legend>
                
                    아이디:<input type="text" name="id"><br>
                    비밀번호:<input type="password" name="pw"><br>
                    이름:<input type="text" name="name"><br>
                    나이:<input type="text" name="age">
                
            </fieldset>
            <input type="file" name="userfile">
            <button onclick=" resst()">리셋</button>
            <button onclick=" sign9n()"> 회원가입 </button>

            
        </form>
        <div id="img"></div>
        
    </body>
</html>