
<!-- 정답 코드 -->
<html>
    <head>
        <title>Practice35-register</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>
            function register(){
                var form = document.getElementById("form_register");
                var formData = new FormData(form);

                /*

                    var form = document~~    //하나씩 data를 키값을 정해주는 방법
                    axios(~~~
                        data: { 
                            id: form.id.value,
                            name: form.name.value
                        }
                    )

                    var formData = new FormData();
                    formData.append("id", form.id.value)l       // new FormData에 어팬드해주는 방법
                    formData.append("name", form.name.value)
                    axios(~~~
                        data: formData
                    )

                    var formData = new FormData(form)           // new FormData(form)을 이용해 자동으로 아래 form을 append 하는 방법
                    axios(~~~
                        data: formData
                    )

                */


                axios({
                    method: "post",
                    url: "/register2",
                    data: formData, //위에 선언한 formdata
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then((a) => { return a.data; })  //data내용 가져온 것을 리턴
                .then((d) => {                      //리턴된 data를 d객체로 지정하고 그
                    document.querySelector("img").src = d.path; //data중에 path속성을 가져오는 형태
                })


                // .then((a) => {document.querySelector("img").src = a.data.path; })   //위처럼 리턴 하지 않고 한번에 쓸 수는 있음
            }
        </script>
    </head>

    <body>
        <form id="form_register" enctype="multipart/form-data">
            <fieldset style="width:300px;">
                <legend> 개인 정보 </legend>
                아이디 : <input type="text" name="id"><br>
                비밀번호 : <input type="password" name="pw"><br>
                이름 : <input type="text" name="name"><br>
                나이 : <input type="text" name="age"><br>
            </fieldset>
            <input type="file" name="userfile">
            <button type="button" onclick="register();">회원가입</button>
        </form>
        <br>
        <img>
    </body>
</html>